header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}
