*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

.root h2{
  text-align: center;
  position: relative;
  top: 45px;
}

.root-form{
   margin-top: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#root-button{
   position: relative;
   background-color: #333;
   border: none;
   color: white;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;
   position: relative;
   transition: background-color 0.3s ease-in-out;
}

#root-button:hover{
   background-color: #1ea71e;
}

#root-api{
   position: relative;
   background-color: #333;
   border: none;
   color: white;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;
   position: relative;
   transition: background-color 0.3s ease-in-out;
   left: 85px;
}

#root-api:hover{
   background-color: #1ea71e;
}

.root-answer{
   margin-top: 25px;
}

.root-table{
   position: absolute;
   display: block;
   left: 550px;
   
}

.root-graph{
  position: absolute;
   top: 1570px;
   left: 450px;
  height: 500px;
  width: 1000px;
}

